@model List<mercedes.Models.Entities.Region>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ceyda ESE</a>.</p>
    @foreach (var item in Model)
    {
        <h1 class="display-4">@item.RegionDescription</h1>
    }
</div>
